
html, body{
	height: 100%;
	position: relative;
	overflow-y: hidden;
	color: black;
}


/*---------------------------------------*\
			#LOGIN-PAGE
\*---------------------------------------*/


#login-image, #home-image{
	background-image: url("../assets/images/cover.jpg");
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

#login-form{
	padding: 60px;
	background-color:rgba(192,192,192,0.7);

}

#login-form, #menu{

	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);

}


label{
	width:150px;
	font-weight: bolder;
	font-size:1.2em;
}

input{
	width: 250px;
}

.group-input{
	margin-bottom: 20px;
}

#lgn-btn{
	float: right;
	margin-top: 20px;
	padding:5px;
	width: 80px;
	font-weight: bold;
}


/*---------------------------------------*\
				#HOME-PAGE
\*---------------------------------------*/

#menu{
	width: 90%;
	height: 90%;
}

.menu-item{
	background-color:rgba(192,192,192,0.7);

	display: inline-block;
	width:48%;
	height: 42%;
	text-align: center;
	position: relative;
	margin:1%; 
	transition: opacity ease;

}

.menu-item:hover{
	opacity: 0.9;
}

.menu-item h1{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	color: black;
}

.menu-item h1:hocer{
	cursor: default;
}

.right{
	float: right;
}


/*---------------------------------------*\
			#NAVIGATION-BAR
\*---------------------------------------*/


header{
	width: 100%;
	position:fixed;
	top:0;
	z-index: 10;
	background-color: white;
}

.header--large{
	height:80px;

}



.shadow {
  -moz-box-shadow:    0px 3px 2px 1px #f7f0f0;
  -webkit-box-shadow: 0px 3px 2px 1px #f7f0f0;
  box-shadow:         0px 3px 2px 1px #f7f0f0;
}

.navbar{
	background-color:rgba(192,192,192,0.7);
	height: 100%;
}




.navbar__menu{
	text-align: right;
	margin-bottom: 0;

}

.menu__item{
	padding-left: 15px;
	cursor: pointer;
	list-style: none;
	display: inline;

}

.menu__item a{
	color: #212529;
}


.menu__item a:hover{
	text-decoration: none;
	color:grey;
}

.active-link{
	font-weight: 450;
}

/*---------------------------------------*\
				#DEPARTEMENT-PAGE
\*---------------------------------------*/


.main-section{
	margin-top: 120px;
	padding-left:40px;
	padding-right: 40px;
}


.button{
	background-color:rgba(192,192,192,0.7);
	width:150px;
	height: 50px;
	border: 1px solid transparent;
	float: right;
	color:white;
}


.departments{
	margin-top: 50px;
}
.department{
  background-color: grey;
  height: 100px;
  padding-left:10px;
  padding-top:15px;
  margin-bottom: 10px;
  position:relative;
  transition: .2s all ease;
  margin-left: 20px;

  
}

.department:hover, #add-new-dep:hover{
	box-shadow: 0 10px 30px 0 rgba(46, 61, 73, 0.8);

}

.department h4{
    color:white;
    font-weight: lighter;

  position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
  }

.delete_icon, .edit_icon{
      display: inline;
      color:white;
      position:absolute;
      top:5px;
      z-index: 10;
     
    }
.delete_icon:hover, .edit_icon:hover{
    cursor:pointer;

}
.delete_icon{
  right:5px;
}

.modal{
  margin-top: 2%;
  display: inline-block;
  
}


.modal input {
  display: inline-block;

    margin-right: 5%;
    width: 85%;
    height: 8%;
    padding: 10px;
    margin-bottom: 5%;
    color: black;
  }

.modal-header {
  color:white;
  background: url('../assets/images/cover.jpg');
  background-size: cover;
  background-position: center;
  height:100px;

}

.main-modal-content {
	margin:20px;
}

.modal-footer button{
	height: 35px;
	width:85px;
}

/*---------------------------------------*\
				#FOOTER
\*---------------------------------------*/

footer{
	background-color: transparent;
	color:white;
	position: fixed;
	bottom: 0;
	height: 60px;
	width:100%;
	text-align: center;

}

.footer__copyright{
	width:100%;
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
  
}

.footer__copyright:hover{
	 cursor:default;
}