
html, body{
	height: 100%;
	position: relative;
	color: black;
}


#wrapper {
  min-height: 100%;
  position: relative;
}

/*---------------------------------------*\
			#LOGIN-PAGE
\*---------------------------------------*/


#login-image, #home-image{
	background-image: url("../assets/images/cover.jpg");
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

#login-form{
	padding: 60px;
	background-color:rgba(192,192,192,0.7);

}

#login-form, #menu{

	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);

}


label{
	width:150px;
	font-weight: bolder;
	font-size:1.2em;
}

input{
	width: 250px;
}

.group-input{
	margin-bottom: 20px;
}

#lgn-btn{
	float: right;
	margin-top: 20px;
	padding:5px;
	width: 80px;
	font-weight: bold;
}


/*---------------------------------------*\
				#HOME-PAGE
\*---------------------------------------*/

#menu{
	width: 90%;
	height: 90%;
}

.menu-item{
	background-color:rgba(192,192,192,0.7);
	display: inline-block;
	width:48%;
	height: 42%;
	text-align: center;
	position: relative;
	margin:1%; 
	transition: opacity ease;

}

.menu-item:hover{
	opacity: 0.9;
}

.menu-item h1{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	color: black;
}

.menu-item h1:hocer{
	cursor: default;
}

.right{
	float: right;
}


/*---------------------------------------*\
			#NAVIGATION-BAR
\*---------------------------------------*/


header{
	width: 100%;
	position:fixed;
	top:0;
	z-index: 100;
	background-color: white;
}

.header--large{
	height:80px;

}



.shadow {
  -moz-box-shadow:    0px 3px 2px 1px #f7f0f0;
  -webkit-box-shadow: 0px 3px 2px 1px #f7f0f0;
  box-shadow:         0px 3px 2px 1px #f7f0f0;
}

.navbar{
	background-color:rgba(192,192,192,0.7);
	height: 100%;
}




.navbar__menu{
	text-align: right;
	margin-bottom: 0;

}

.menu__item{
	padding-left: 15px;
	cursor: pointer;
	list-style: none;
	display: inline;

}

.menu__item a{
	color: #212529;
}


.menu__item a:hover{
	text-decoration: none;
	color:grey;
}

.active-link{
	font-weight: 450;
}

/*---------------------------------------*\
				#DEPARTEMENT-PAGE
\*---------------------------------------*/


.main-section{
	margin-top: 120px;
	padding-left:40px;
	padding-right: 40px;
}


.button{
	background-color:rgba(192,192,192,0.7);
	width:100px;
	height: 40px;
	border: 1px solid transparent;
	float: right;
	color:white;
	cursor: pointer;
}


 #add-new-dep:hover, #add-new-prof{
	box-shadow: 0 10px 30px 0 rgba(46, 61, 73, 0.8);

}



.departments, .professors{
	margin-top: 50px;
	padding-left: 0!important;
}
.department, .professor{
  height: 200px;
  margin: 10px;
  transition: .2s all ease;
  list-style: none;
  padding: 0 !important;
	box-shadow: 0 10px 30px 0 rgba(46, 61, 73, 0.8);

  
}



.department-wrapper, .professor-wrapper{
	height: inherit;
	display: block;
}

.department img, .professor img{
	width:100%;
	height: 140px;

}

.department-text, .professor-text{
	height: 60px;
	text-align: left;
	padding-left: 10px;
}

.department:hover i, .professor:hover i{
	display: inline;
    z-index: 10;

}

.department h4, .professor h4{
    color:black;
    font-weight: lighter;

  position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
  }

.delete_icon, .edit_icon{
      color:white;
      position:absolute;
      top:5px;
      display: none;

}


.delete_icon:hover, .edit_icon:hover{
    cursor:pointer;

}
.delete_icon{
  right:5px;
}

.edit_icon{
	right:30px;
}

/*---------------------------------------*\
				#PROFESSORS-PAGE
\*---------------------------------------*/

.front{
	display: block;
}

.back{
	display: none;
	transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
}




.professor-flipped{
	 transform: rotatey(180deg);
    -moz-transform: rotatey(180deg);
    -webkit-transform: rotatey(180deg);
}

.profile-img{
	border-radius: 50%;
	height: 50px!important;
	width:50px!important;
	float: left;
	margin-top:5px;
	margin-right: 15px;
}


/*---------------------------------------*\
				#MODALS
\*---------------------------------------*/



.modal{
  margin-top: 2%;
  display: inline-block;
  
}


.modal input {
  display: inline-block;

    margin-right: 5%;
    width: 85%;
    height: 8%;
    padding: 10px;
    margin-bottom: 5%;
    color: black;
  }

.modal-header {
  color:white;
  background: url('../assets/images/cover.jpg');
  background-size: cover;
  background-position: center;
  height:100px;

}

.main-modal-content {
	margin:20px;
}

.modal-footer button{
	height: 35px;
	width:85px;
	margin-top: 50px;
}

/*---------------------------------------*\
				#FOOTER
\*---------------------------------------*/

footer{
	background-color: transparent;
	height: 60px;
	width:100%;
	text-align: center;
	color:black;
	bottom: 0;
	position: absolute;

}

.footer-fixed{
	color:white;
	position: fixed;
	bottom:10px;

}

.footer__copyright{
	width:100%;
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
  
}

.footer__copyright:hover{
	 cursor:default;
}